body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}
.book-form{
    width: 70%;
    background-color: white;
    padding: 1rem;

}
input{
    padding: 0.5rem 1rem;
    width: 20%;
    border: 1px solid gray;
    outline: none;
}
button.Add{
    padding: 0.5rem 1rem;
    background-color: green;
    color: white;
    border: transparent;
}